:root {
	/* Color scheme */
	--light-red    : #fb4934;
	--dark-red     : #cc241d;
	--alt-red      : #e74c3c;
	--light-orange : #fe8019;
	--dark-orange  : #d65d0e;
	--alt-orange   : #e67e22;
	--light-yellow : #fabd2f;
	--dark-yellow  : #d79921;
	--alt-yellow   : #f1c40f;
	--light-green  : #b8bb26;
	--dark-green   : #98971a;
	--alt-green    : #9acc1c;
	--light-aqua   : #8ec07c;
	--dark-aqua    : #689d6a;
	--alt-aqua     : #1abc9c;
	--light-blue   : #83a598;
	--dark-blue    : #458588;
	--alt-blue     : #0984e3;
	--light-purple : #d3879b;
	--dark-purple  : #b16286;
	--alt-purple   : #9b59b6;
	--light-grey   : #a89984;
	--dark-grey    : #928374;

	--bg-0         : #282828;
	--bg-1         : #3c3836;
	--bg-2         : #504945;
	--bg-3         : #665c54;
	--bg-4         : #7c6f64;

	--fg-0         : #fbf1c7;
	--fg-1         : #ebddb2;
	--fg-2         : #d5c4a1;
	--fg-3         : #bdae93;
	--fg-4         : #a89984;

	--primary   : var(--light-orange);
	--secondary : var(--dark-orange);

	--gitlab-bg       : var(--bg-2);
	--gitlab-hover-bg : var(--bg-3);
	--gitlab-border   : var(--dark-orange);
	--gitlab-accent1  : var(--light-orange);
	--gitlab-accent2  : var(--dark-orange);
	--gitlab-accent3  : var(--light-yellow);

	/* Base */
	--theme-color             : var(--primary);
	--base-background-color   : var(--bg-0);
	--base-color              : var(--fg-0);

	/* Markdown */
	--mark-background         : var(--bg-1);
	--heading-color           : var(--fg-1);
	--hr-border-color         : var(--bg-2);
	--hr-border               : 1px solid var(--hr-border-color);
	--heading-h1-border-color : var(--hr-border-color);
	--heading-h2-border-color : var(--hr-border-color);
	--heading-h3-border-color : var(--hr-border-color);
	--heading-h4-border-color : var(--hr-border-color);
	--heading-h5-border-color : var(--hr-border-color);
	--heading-h6-border-color : var(--hr-border-color);

	--sidebar-nav-pagelink-background-image             : ;
	--sidebar-nav-pagelink-background-image--active     : ;
	--sidebar-nav-pagelink-background-image--collapse   : ;
	--sidebar-nav-pagelink-background-image--loaded     : ;
	--sidebar-nav-pagelink-background-position          : ;
	--sidebar-nav-pagelink-background-position--active  : ;
	--sidebar-nav-pagelink-background-position--collapse: ;
	--sidebar-nav-pagelink-background-position--loaded  : ;
	--sidebar-nav-pagelink-background-repeat            : no-repeat;
	--sidebar-nav-pagelink-background-size              : ;
	--sidebar-nav-pagelink-padding                      : ;
	--sidebar-nav-pagelink-transition                   : var(--sidebar-nav-link-transition);

	--sidebar-toggle-background                   : var(--secondary);
	--sidebar-toggle-border-color                 : ;
	--sidebar-toggle-border-radius                : none;
	--sidebar-toggle-border-style                 : solid;
	--sidebar-toggle-border-width                 : 0;
	--sidebar-toggle-height                       : 46px;
	--sidebar-toggle-width                        : 46px;
	--sidebar-toggle-icon-color                   : var(--base-color);
	--sidebar-toggle-icon-height                  : 10px;
	--sidebar-toggle-icon-stroke-width            : 1px;
	--sidebar-toggle-icon-width                   : 16px;
	--sidebar-toggle-offset-left                  : 0;
	--sidebar-toggle-offset-top                   : 0;
	--sidebar-width                               : 20vw;

	--pagination-border-top                       : 1px solid var(--fg-2);
	--pagination-chevron-stroke                   : currentColor;
	--pagination-label-color                      : var(--fg-2);
	--pagination-title-color                      : var(--fg-1);

	--notice-background                  : var(--bg-2);
	--notice-before-color                : var(--fg-2);
	--notice-border-color                : var(--light-blue);
	--notice-important-background        : var(--bg-2);
	--notice-important-before-color      : var(--fg-2);
	--notice-important-border-color      : var(--light-yellow);
	--notice-tip-background        : var(--bg-2);
	--notice-tip-before-color      : var(--fg-2);
	--notice-tip-border-color      : var(--light-blue);

	--blockquote-background   : var(--bg-2);
	--blockquote-border-color : var(--fg-2);

	--code-theme-background   : var(--bg-1);
	--code-theme-text         : var(--fg-1);
	--code-inline-background  : var(--code-theme-background);
	--code-inline-color       : var(--code-theme-text);

	--copycode-background     : var(--bg-3);
	--copycode-color          : var(--fg-3);

	--kbd-background          : var(--fg-0);

	/* Sidebar */
	--sidebar-border-color    : var(--secondary);
	--sidebar-background      : var(--mark-background);

	/* Search */
	--search-background                      : transparent;
	--search-margin                          : 0;
	--search-padding                         : 10px 0 0 0;

	/* Clear Button */
	--search-clear-icon-color1               : var(--light-red);
	--search-clear-icon-color2               : var(--fg-2);

	/* Input */
	--search-input-background-color          : var(--bg-2);
	--search-input-background-color--focus   : ;
	--search-input-background-image          : ;
	--search-input-background-image--focus   : ;
	--search-input-background-position       : ;
	--search-input-background-position--focus: ;
	--search-input-background-repeat         : no-repeat;
	--search-input-background-size           : ;
	--search-input-background-size--focus    : ;
	--search-input-border-color              : transparent;
	--search-input-border-radius             : 3px;
	--search-input-border-width              : 0;
	--search-input-color                     : ;
	--search-input-font-size                 : ;
	--search-input-margin                    : ;
	--search-input-padding                   : 0.8em;
	--search-input-placeholder-color         : ;
	--search-input-transition                : all 0.4 ease;

	/* Order */
	--search-flex-order                      : 1;

	/* Results */
	--search-result-heading-color            : var(--light-blue);
	--search-result-heading-font-size        : var(--base-font-size);
	--search-result-heading-font-weight      : normal;
	--search-result-heading-margin           : 0 0 0.25em;
	--search-result-item-border-color        : ;
	--search-result-item-border-style        : solid;
	--search-result-item-border-width        : 0 0 1px 0;
	--search-result-item-color               : ;
	--search-result-item-font-size           : ;
	--search-result-item-font-weight         : normal;
	--search-result-item-margin              : ;
	--search-result-item-padding             : 1em 0;
	--search-result-keyword-background       : var(--light-purple);
	--search-result-keyword-border-radius    : var(--border-radius-s);
	--search-result-keyword-color            : var(--bg-1);
	--search-result-keyword-font-weight      : normal;
	--search-result-keyword-margin           : 0 0.1em;
	--search-result-keyword-padding          : 0.2em;
}

/* Prism Highlighting */
code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: var(--bg-1);
	color: var(--fg-1);
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection,
pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: var(--primary);
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--bg-4);
}

.token.punctuation {
	color: var(--light-orange);
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
	color: var(--light-purple);
}

.token.property,
.token.function {
	color: var(--light-yellow);
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: var(--light-blue);
}

code.language-javascript,
.token.attr-name {
	color: var(--dark-blue);
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: var(--light-green);
}

.token.keyword,
.token.placeholder,
.token.variable {
	color: var(--light-orange);
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted var(--fg-3);
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: var(--dark-blue);
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid var(--dark-purple);
	outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */

.line-numbers .line-numbers-rows {
	border-right-color: var(--bg-2);
}

.line-numbers-rows > span:before {
	color: var(--fg-2);
}

/* overrides color-values for the Line Highlight plugin
* http://prismjs.com/plugins/line-highlight/
*/
.line-highlight {
	background: rgba(221, 103, 44, 0.2);
	background: -webkit-linear-gradient(left, rgba(221, 103, 44, 0.2) 70%, rgba(221, 103, 44, 0));
	background: linear-gradient(to right, rgba(221, 103, 44, 0.2) 70%, rgba(221, 103, 44, 0));
}

/* Copy code customisations */
body .docsify-copy-code-button, body .docsify-copy-code-button::after {
	border-radius: 5px;
	margin: 1.20em;
}
.markdown-section code {
	font-family: var(--code-font-family);
	font-size: inherit;
	font-weight: var(--code-font-weight);
	line-height: inherit;
}

/* Center graph */
.mermaid svg {
	display: block;
	margin: auto;
}

/* Mermaid */
.mermaid .label {
	color: var(--fg-1);
}
.node rect,
.node circle,
.node ellipse,
.node polygon {
	fill: var(--bg-2) !important;
	stroke: var(--bg-1) !important;
	stroke-width: 1px !important;
}
.edgePath .path {
	stroke: var(--fg-1) !important;
}
.edgeLabel {
	background-color: var(--bg-2) !important;
	padding: 2px 0 !important;
}
.cluster rect {
	fill: var(--dark-yellow) !important;
	stroke: var(--light-yellow) !important;
	stroke-width: 3px !important;
}
.cluster text {
	fill: var(--fg-1) !important;
}
.actor {
	stroke: var(--light-grey) !important;
	fill: var(--dark-grey) !important;
}
text.actor {
	fill: var(--bg-3) !important;
	stroke: none !important;
}
.actor-line {
	stroke: grey !important;
}
.messageLine0 {
	stroke-width: 1.5 !important;
	stroke-dasharray: "2 2" !important;
	marker-end: "url(#arrowhead)" !important;
	stroke: var(--bg-3) !important;
}
.messageLine1 {
	stroke-width: 1.5 !important;
	stroke-dasharray: "2 2" !important;
	stroke: var(--bg-3) !important;
}
#arrowhead {
	fill: var(--fg-1) !important;
}
#crosshead path {
	fill: var(--fg-1) !important;
	stroke: var(--bg-1) !important;
}
.messageText {
	fill: var(--bg-3) !important;
	stroke: none !important;
}
.labelBox {
	stroke: var(--light-grey) !important;
	fill: var(--dark-grey) !important;
}
.labelText {
	fill: var(--bg-3) !important;
	stroke: none !important;
}
.loopText {
	fill: var(--bg-3) !important;
	stroke: none !important;
}
.loopLine {
	stroke-width: 2 !important;
	stroke-dasharray: "2 2" !important;
	marker-end: "url(#arrowhead)" !important;
	stroke: var(--light-aqua) !important;
}
.note {
	stroke: var(--light-green) !important;
	fill: var(--fg-1) !important;
}
.noteText {
	fill: var(--bg-3) !important;
	stroke: none !important;
	font-family: 'trebuchet ms', verdana, arial !important;
	font-size: 14px !important;
}
/** Section styling */
.section {
	stroke: none !important;
	opacity: 0.2 !important;
}
.section0 {
	fill: var(--light-blue) !important;
}
.section2 {
	fill: var(--light-grey) !important;
}
.section1,
.section3 {
	fill: var(--fg-1) !important;
	opacity: 0.2 !important;
}
.sectionTitle0 {
	fill: var(--bg-3) !important;
}
.sectionTitle1 {
	fill: var(--bg-3) !important;
}
.sectionTitle2 {
	fill: var(--bg-3) !important;
}
.sectionTitle3 {
	fill: var(--bg-3) !important;
}
.sectionTitle {
	text-anchor: start !important;
	font-size: 11px !important;
	text-height: 14px !important;
}
/* Grid and axis */
.grid .tick {
	stroke: var(--light-grey) !important;
	opacity: 0.3 !important;
	shape-rendering: crispEdges !important;
}
.grid path {
	stroke-width: 0 !important;
}
/* Today line */
.today {
	fill: none !important;
	stroke: var(--light-red) !important;
	stroke-width: 2px !important;
}
/* Task styling */
/* Default task */
.task {
	stroke-width: 2 !important;
}
.taskText {
	text-anchor: middle !important;
	font-size: 11px !important;
}
.taskTextOutsideRight {
	fill: var(--bg-3) !important;
	text-anchor: start !important;
	font-size: 11px !important;
}
.taskTextOutsideLeft {
	fill: var(--bg-3) !important;
	text-anchor: end !important;
	font-size: 11px !important;
}
/* Specific task settings for the sections*/
.taskText0,
.taskText1,
.taskText2,
.taskText3 {
	fill: var(--fg-0) !important;
}
.task0,
.task1,
.task2,
.task3 {
	fill: var(--light-aqua) !important;
	stroke: var(--dark-aqua) !important;
}
.taskTextOutside0,
.taskTextOutside2 {
	fill: var(--bg-3) !important;
}
.taskTextOutside1,
.taskTextOutside3 {
	fill: var(--bg-3) !important;
}
/* Active task */
.active0,
.active1,
.active2,
.active3 {
	fill: var(--light-blue) !important;
	stroke: var(--dark-blue) !important;
}
.activeText0,
.activeText1,
.activeText2,
.activeText3 {
	fill: var(--bg-3) !important;
}
/* Completed task */
.done0,
.done1,
.done2,
.done3 {
	stroke: var(--light-grey);
	fill: var(--dark-grey);
	stroke-width: 2;
}
.doneText0,
.doneText1,
.doneText2,
.doneText3 {
	fill: var(--bg-3) !important;
}
/* Tasks on the critical line */
.crit0,
.crit1,
.crit2,
.crit3 {
	stroke: var(--light-red) !important;
	fill: var(--dark-red) !important;
	stroke-width: 2 !important;
}
.activeCrit0,
.activeCrit1,
.activeCrit2,
.activeCrit3 {
	stroke: var(--light-red) !important;
	fill: var(--light-grey) !important;
	stroke-width: 2;
}
.doneCrit0,
.doneCrit1,
.doneCrit2,
.doneCrit3 {
	stroke: var(--light-red) !important;
	fill: lightgrey !important;
	stroke-width: 2 !important;
	cursor: pointer !important;
	shape-rendering: crispEdges !important;
}
.doneCritText0,
.doneCritText1,
.doneCritText2,
.doneCritText3 {
	fill: var(--bg-3) !important;
}
.activeCritText0,
.activeCritText1,
.activeCritText2,
.activeCritText3 {
	fill: var(--bg-3) !important;
}
.titleText {
	text-anchor: middle !important;
	font-size: 18px !important;
	fill: var(--bg-3) !important;
}
.node text {
	font-family: 'trebuchet ms', verdana, arial !important;
	font-size: 14px !important;
}
div.mermaidTooltip {
	position: absolute;
	text-align: center;
	max-width: 200px;
	padding: 2px;
	font-family: 'trebuchet ms', verdana, arial;
	font-size: 12px;
	background: var(--bg-3);
	border: 1px solid var(--light-green) !important;
	border-radius: 2px !important;
	pointer-events: none;
	z-index: 100;
}
blockquote cite {
	display: block;
	text-align: end;
}

/* Loading */
.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--light-orange)
}

.sk-cube-grid {
	width: 40px;
	height: 40px;
	margin: 20px auto;
}

.sk-cube-grid .sk-cube {
	width: 33%;
	height: 33%;
	background-color: var(--light-orange);
	opacity: 0.8;
	float: left;
	-webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
	animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	} 35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1); 
	}
}

@keyframes sk-cubeGridScaleDelay {
	0%, 70%, 100% {
		-webkit-transform: scale3D(1, 1, 1);
		transform: scale3D(1, 1, 1);
	} 35% {
		-webkit-transform: scale3D(0, 0, 1);
		transform: scale3D(0, 0, 1);
	}
}

/* 404 */
.not-found {
	margin: auto;
	display: grid;
	text-align: center;
}
.not-found a {
	padding: 10px;
	margin: 30px;
	border: 4px solid var(--fg-0);
	border-radius: 1000px;
	text-decoration: none;
	transition: all 0.2s;
}
.not-found a:hover {
	background: var(--fg-0);
	height: auto;
	color: var(--bg-0);
	text-decoration: none;
	border: 4px solid var(--fg-0);
	border-radius: 1000px;
}
.not-found h1 {
	color: var(--light-orange);
	font-size: 30vh;
	padding: 0;
	margin: 0;
}

/*
 * Gitlab corner
 */

.gitlab-corner-wrapper {
	overflow: hidden;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
}

.gitlab-corner {
	position: absolute;
	top: -15px;
	right: -70px;
	padding: 25px 70px 0px 70px;
	transform: rotate(45deg);
	background: var(--gitlab-bg);
	border-bottom: 2px solid var(--gitlab-border);
	transition: background 0.4s ease;
}

.gitlab-corner:hover {
	background: var(--gitlab-hover-bg);
}

.gitlab-corner svg {
	width: 60px;
	height: 60px;
	margin-bottom: -4px;
}

.cls-1 {
	fill: var(--gitlab-accent1);
	animation-play-state: running;
}
.cls-2 {
	fill: var(--gitlab-accent2);
	animation-play-state: running;
}
.cls-3 {
	fill: var(--gitlab-accent3);
	animation-play-state: running;
}

.gitlab-corner:hover .cls-1 {
	animation: cycle1 1s infinite ease-in;
}

.gitlab-corner:hover .cls-2 {
	animation: cycle2 1s infinite ease-in;
}

.gitlab-corner:hover .cls-3 {
	animation: cycle3 1s infinite ease-in;
}

@keyframes cycle1 {
	0%, 50%, 100% {
		fill: var(--gitlab-accent1)
	} 32%, 82% {
		fill: var(--gitlab-accent3)
	} 16%, 66% {
		fill: var(--gitlab-accent2)
	}
}

@keyframes cycle2 {
	0%, 50%, 100% {
		fill: var(--gitlab-accent2)
	} 32%, 82% {
		fill: var(--gitlab-accent1)
	} 16%, 66% {
		fill: var(--gitlab-accent3)
	}
}

@keyframes cycle3 {
	0%, 50%, 100% {
		fill: var(--gitlab-accent3)
	} 32%, 82% {
		fill: var(--gitlab-accent1)
	} 16%, 66% {
		fill: var(--gitlab-accent2)
	}
}

@media (max-width:500px) {
	.gitlab-corner:hover .cls-1,
	.gitlab-corner:hover .cls-2,
	.gitlab-corner:hover .cls-3 {
		animation: none
	}
	.gitlab-corner .cls-1 {
		animation: cycle1 .6s
	}
	.gitlab-corner .cls-2 {
		animation: cycle2 .6s
	}
	.gitlab-corner .cls-3 {
		animation: cycle3 .6s
	}
}

/* Responsive sidebar */
.sidebar {
	position: fixed;
	min-width: 500px;
}
